    /* General Styles */

body, html {
    height: 100%;
    background-color: rgba(255, 0, 0, 0.788);

}

.quotes {
    display: flex;
    padding: 40px;
    color:white;
    text-align: center;

}

.quote-container {
    /* background-color: rgba(255, 0, 0, 0.788); */
    padding: 40px;
    flex: right;
    font-size: 40px;
    text-align: center;

    padding-bottom: 60px;
    text-align: center;
    /* flex: right; */
    font-size: 30px;
    color: white;

}



h1 {
    font-family: 'Staatliches', cursive;
    color: red;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
}

p {
    font-family: 'Amatic SC', cursive;
}

    /* Hero */

.hero {

    position: 100%;
    height: 600px;
    max-height: 100%;
    clip-path: polygon(50% 95%, 0 0, 100% 0);
    /* clip-path: polygon(0 0%, 100% 0, 100% 70%, 0 100%); */
    background-color: black;


}

.leftText {
    padding: 40px;
 
}

.leftText h1 {
    font-size: 110px;
    text-align: center;
}

.leftText h2 {
    text-align: center;
}



.container {
    color: white;
}

.buttons {
    text-align: center;
    margin-right: 10px;
    border: none;
    background: none;
}

.onClick {
    border: none;
    background: none;
}